{% extends "base.html" %}

{% block content %}
  <div id="accordion">
    <div class="card">
      <div class="card-header" id="heading1">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
            Последовательности
          </button>
        </h5>
      </div>
      <div id="collapse1" class="collapse show" aria-labelledby="heading1" data-parent="#accordion">
        <div class="card-body">
          <b>Алгебраическая прогрессия:</b><br>
Формула n-ого члена an = a1 + d * (n - 1)<br>
Сумма n первых членрв S = (a1 + an) / 2 * n<br>
Свойство an = (an+1 + an-1) / 2<br>
<b>Геометрическая прогрессия:</b><br>
Сумма n первых членов S = b1 * (q^n - 1) / (q - 1)<br>
S = b1 / (1 - q), где |q| < 1<br>
bn = b1 * q^(n - 1)<br>
<br><br>
        </div>
      </div>

      <div class="card-header" id="heading2">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapse2" aria-expanded="true" aria-controls="collapse2">
            Решение уравнений
          </button>
        </h5>
      </div>
      <div id="collapse2" class="collapse show" aria-labelledby="heading2" data-parent="#accordion">
        <div class="card-body">
            Обычные, квадратные (дискриминант, виета, случаи), третьей степени
        </div>
      </div>

      <div class="card-header" id="heading3">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapse3" aria-expanded="true" aria-controls="collapse3">
            Построение графиков функций
          </button>
        </h5>
      </div>
      <div id="collapse3" class="collapse show" aria-labelledby="heading3" data-parent="#accordion">
        <div class="card-body">
            Линейная, кв, модель, кусочно заданная
        </div>
      </div>

      <div class="card-header" id="heading4">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapse4" aria-expanded="true" aria-controls="collapse4">
            Уравнения Коши-Буняковского
          </button>
        </h5>
      </div>
      <div id="collapse4" class="collapse show" aria-labelledby="heading4" data-parent="#accordion">
        <div class="card-body">
            Формулы
        </div>
      </div>

      <div class="card-header" id="heading5">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapse5" aria-expanded="true" aria-controls="collapse5">
Метод математической индукции
          </button>
        </h5>
      </div>
      <div id="collapse5" class="collapse show" aria-labelledby="heading5" data-parent="#accordion">
        <div class="card-body">
Описание
        </div>
      </div>
  </div>
{% endblock %}
