{% extends "base.html" %}

{% block content %}
  <div id="accordion">
    <div class="card">
      <div class="card-header" id="heading1">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
            Прогрессии
          </button>
        </h5>
      </div>
      <div id="collapse1" class="collapse show" aria-labelledby="heading1" data-parent="#accordion">
        <div class="card-body">
          <b>Алгебраическая прогрессия:</b><br>
            Определение: <i>a<sub>n + 1</sub></i> = <i>a<sub>n</sub></i> + d<br>
         Разность: d = <i>a<sub>n + 1</sub></i> - <i>a<sub>n</sub></i><br>
Формула n-ого члена: <i>a<sub>n</sub></i> = <i>a<sub>1</sub></i> + d * (n - 1)<br>
Сумма n первых членрв: S = (<i>a<sub>1</sub></i> + <i>a<sub>n</sub></i>) / 2 * n<br>
Свойство: <i>a<sub>n</sub></i> = (<i>a<sub>n</sub></i>+1 + <i>a<sub>n</sub></i>-1) / 2<br><br>
<b>Геометрическая прогрессия:</b><br>
          Определение: <i>b<sub>n + 1</sub></i> = <i>b<sub>n</sub></i> * q<br>
         Знаменатель: q = <i>b<sub>n + 1</sub></i> / <i>b<sub>n</sub></i>
Сумма n первых членов: S = <i>b<sub>1</sub></i> * (<i>q<sup>n</sup></i> - 1) / (q - 1)<br>
Сумма n первых членов убывающей прогрессии: S = <i>b<sub>1</sub></i> / (1 - q), где |q| < 1<br>
Формула n-ого члена: <i>b<sub>n</sub></i> = <i>b<sub>1</sub></i> * <i>q<sup>n - 1</sup></i><br>
          Свойство: <i>b<sub>n</sub></i>&#178; = (<i>b<sub>n - 1</sub></i>+1) * (<i>b<sub>n + 1</sub></i>-1), где n > 1
<br><br>
        </div>
      </div>

      <div class="card-header" id="heading2">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapse2" aria-expanded="true" aria-controls="collapse2">
            Решение квадратных уравнений
          </button>
        </h5>
      </div>
      <div id="collapse2" class="collapse show" aria-labelledby="heading2" data-parent="#accordion">
        <div class="card-body">
            <b>Дискриминант:</b> D = b&#178; - 4ac<br>
          Если D < 0, x &#8800; / a<br>
          Если D = 0, x = -b / a<br>
          Если D > 0, x = (-b &#177; <span>&#8730;</span><span  style="border-top: 1px solid black">D</span>) / a<br><br>
          <b>Дискриминант для четного b:</b> <i>D<sub>1</sub></i> = (b/2)&#178; - ac<br>
          Если <i>D<sub>1</sub></i> < 0, x &#8800; / a<br>
          Если <i>D<sub>1</sub></i> = 0, x = -b/2 / a<br>
          Если <i>D<sub>1</sub></i> > 0, x = (-b/2 &#177; <span>&#8730;</span><span  style="border-top: 1px solid black"><i>D<sub>1</sub></i></span>) / a<br>
        </div>
      </div>
      
      <div class="card-header" id="heading4">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapse4" aria-expanded="true" aria-controls="collapse4">
            Неравенства Коши-Буняковского
          </button>
        </h5>
      </div>
      <div id="collapse4" class="collapse show" aria-labelledby="heading4" data-parent="#accordion">
        <div class="card-body">
            Неравенство Коши:
          (a + b) / 2 &#8805; <span>&#8730;</span><span  style="border-top: 1px solid black">ab</span><br>
          Следствие: a + 1/a &#8805; 2<br><br>
          Неравенство Коши-Буняковсткого: (<i>a<sub>1</sub></i><i>b<sub>1</sub></i> + <i>a<sub>2</sub></i><i>b<sub>2</sub></i> + ... + <i>a<sub>n</sub></i><i>b<sub>n</sub></i>) &#8804; (<i>a<sub>1</sub></i>&#178; + <i>a<sub>2</sub></i>&#178; + ... + <i>a<sub>n</sub></i>&#178;) * (<i>b<sub>1</sub></i>&#178; + <i>b<sub>2</sub></i>&#178; + ... + <i>b<sub>n</sub></i>&#178;)
        </div>
      </div>

      <div class="card-header" id="heading5">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapse5" aria-expanded="true" aria-controls="collapse5">
Метод математической индукции
          </button>
        </h5>
      </div>
      <div id="collapse5" class="collapse show" aria-labelledby="heading5" data-parent="#accordion">
        <div class="card-body">
<b>Структура:</b><br>
          Предположим, что <само предположение><br>
          Докажем (*) ММИ:<br>
          <p style="margin-left: 50px;">
            1. Проверим, верно ли (*) для n = 1:<br>
            (проверка)<br>
            2. Предположим, что для n = k (*) верна. Тогда докажем, что верно для n = k + 1:<br>
            (доказательство)
            </p>
        </div>
      </div>
  </div>
{% endblock %}
