{% extends "base.html" %}

{% block content %}
<br>
<br>
<h1>Функции бота:</h1>
      <p class="lead" style="margin-left: 50px;">
             - Перевод из одной системы счисления в другую<br>
             - Решение квадратных уравнений<br>
             - Вычисления суммы n членов арифметической прогрессии<br>
             - Вычисления суммы n членов геометрической прогрессии
      </p>
      <hr class="my-4">
      <p>Если вы всё ещё сомневаетесь в использовании бота, то подумайте о том, что помимо функций у него есть секретные фишки... Разве вам не интересно? Чтобы узнать придётся запустить его :)</p>
      <br>
            <p class="lead" style="margin-left: 50px;">
                <a role="button" class="btn btn-dark btn-lg" href="https://t.me/kolomathbot">! Запуск !</a>
                <a role="button" class="btn btn-dark btn-lg" href="https://t.me/kolomathbot">! Запуск !</a>
                <a role="button" class="btn btn-dark btn-lg" href="https://t.me/kolomathbot">! Запуск !</a>
                <a role="button" class="btn btn-dark btn-lg" href="https://t.me/kolomathbot">! Запуск !</a>
                <a role="button" class="btn btn-dark btn-lg" href="https://t.me/kolomathbot">! Запуск !</a>
                <a role="button" class="btn btn-dark btn-lg" href="https://t.me/kolomathbot">! Запуск !</a>
                <a role="button" class="btn btn-dark btn-lg" href="https://t.me/kolomathbot">! Запуск !</a>
                <a role="button" class="btn btn-dark btn-lg" href="https://t.me/kolomathbot">! Запуск !</a>
            </p>
{% endblock %}