{% extends "base.html" %}

{% block content %}
<br>
<br>
<h1>Контактная информация:</h1>

<p class="lead" style="margin-left: 50px;">
             Почта: helpfultechsite@gmail.com<br>
             ВК: @aurora_keke, @kmrrazz<br>
             Сбер: 89951928213
	<br>
	<br>
      </p>
<p class="lead">
	Все вопросы, предложения, что угодно можете писать на почту или в вк... И если вам понравился потенциал нашего проекта, то вы можете поддержать его копеечкой :) Вам не убудет, а разработчикам будет приятно
</p>

{% endblock %}