{% extends "base.html" %}

{% block content %}
  <div id="accordion">
    <div class="card">
      <div class="card-header" id="heading1">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
            Формулы площадей двумерных фигур
          </button>
        </h5>
      </div>
      <div id="collapse1" class="collapse show" aria-labelledby="heading1" data-parent="#accordion">
        <div class="card-body">
          <b>Универсальная:</b><br>
Произведение полупериметра фигуры на радиус вписанной окружности<br><br>
            <b>Треугольник:</b><br>
          Половина произведения высоты на сторону, к которой она проведена: ah / 2<br>
          Произведение двух сторон на синус угла между ними: ab * sin(A)<br>
          Формула Герона:
<span>&#8730;</span><span  style="border-top: 1px solid black">p(p - a)(p - b)(p - c)</span>, где p = (a + b + c) / 3<br><br>
          <b>Прямоугольный треугольник:</b><br>
          Половина произведения двух сторон: ab / 2<br><br>
          <b>Равносторонний треугольник:</b><br>
          Произведение квадрата стороны на отношение корня из 3 к 4: a&#178; *
<span>&#8730;</span><span  style="border-top: 1px solid black">3</span> / 4<br><br>
          <b>Произвольный четырёхугольник:</b><br>
          Произведение диагоналей на синус угла между ними: d1 * d2 * sin(G)
        </div>
      </div>
      
<div class="card-header" id="heading4">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapse4" aria-expanded="true" aria-controls="collapse4">
            Признаки равенства треугольников
          </button>
        </h5>
      </div>
      <div id="collapse4" class="collapse show" aria-labelledby="heading4" data-parent="#accordion">
        <div class="card-body">
            <b>Теорема 1. Равенство треугольников по двум сторонам и углу между ними:</b><br>
          Если две стороны и угол между ними одного треугольника соответственно равны двум сторонам и углу между ними другого треугольника, то такие треугольники равны.<br><br>
          <b>Теорема 2. Равенство треугольников по стороне и двум прилежащим к ней углам:</b><br>
          Если сторона и два прилежащих к ней угла одного треугольника соответственно равны стороне и двум прилежащим к ней углам другого треугольника, то такие треугольники равны.<br><br>
          <b>Теорема 3. Равенство треугольников по трем сторонам:</b><br>
          Если три стороны одного треугольника соответственно равны трем сторонам другого треугольника, то такие треугольники равны.<br><br>
        </div>
      </div>
      
      <div class="card-header" id="heading2">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapse2" aria-expanded="true" aria-controls="collapse2">
            Площадь и длина описанной окружности
          </button>
        </h5>
      </div>
      <div id="collapse2" class="collapse show" aria-labelledby="heading2" data-parent="#accordion">
        <div class="card-body">
            <b>В равностороннем треугольнике:</b><br>
          Площадь - &#960 * a&#178; / 3<br>
          Длина окружности - 2&#960 * (a&#178; * <span>&#8730;</span><span  style="border-top: 1px solid black">3</span>) / 3<br><br>
          <b>В прямоугольном треугольнике:</b><br>
          Площадь - &#960 * (a&#178; + b&#178;) / 4<br>
          Длина окружности - &#960 * <span>&#8730;</span><span  style="border-top: 1px solid black">(a&#178; + b&#178;)</span> / 3<br><br>
          <b>В равнобедренном треугольнике:</b><br>
          Площадь - &#960 * <i>b<sub>4</sub></i> / (4b&#178; - a&#178;)<br>
          Длина окружности - 2&#960b&#178; / <span>&#8730;</span><span  style="border-top: 1px solid black">4b&#178; - a&#178;</span><br>
        </div>
      </div>

      <div class="card-header" id="heading3">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapse3" aria-expanded="true" aria-controls="collapse3">
            Сегменты и сектора
          </button>
        </h5>
      </div>
      <div id="collapse3" class="collapse show" aria-labelledby="heading3" data-parent="#accordion">
        <div class="card-body">
            Площад
        </div>
      </div>

      <div class="card-header" id="heading5">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapse5" aria-expanded="true" aria-controls="collapse5">
            Признаки подобия треугольников
          </button>
        </h5>
      </div>
      <div id="collapse5" class="collapse show" aria-labelledby="heading5" data-parent="#accordion">
        <div class="card-body">
          3 штуки
        </div>
      </div>
  </div>
{% endblock %}
