{% extends "base.html" %}

{% block content %}
  <div id="accordion">
    <div class="card">
      <div class="card-header" id="heading1">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
            Величины измерения объёма информации и их отношения между собой
          </button>
        </h5>
      </div>
      <div id="collapse1" class="collapse show" aria-labelledby="heading1" data-parent="#accordion">
        <div class="card-body">
          8 бит = 1 байт<br>
          1024 байт = 1 килобайт<br>
          1024 килобайт = 1 мегабайт<br>
          1024 мегабайт = 1 гигабайт<br>
          1024 гигаобайт = 1 терабайт<br>
        </div>
      </div>

      <div class="card-header" id="heading3">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapse3" aria-expanded="true" aria-controls="collapse3">
            Перевод из двоичной, восьмиричной, шестнадцатиричной системы счисления в десятичную
          </button>
        </h5>
      </div>
      <div id="collapse3" class="collapse show" aria-labelledby="heading3" data-parent="#accordion">
        <div class="card-body">
            Рассмотрим перевод на примере двоичной системы счисления:<br>
          С конца расставьте над числом цифры от 0 до n - 1, где n это длина числа. Все цифры суммируются как <i>2<seb>i</seb></i> * k каждая, где i это цифра над 1 или 0, а k этот самый 1 или 0. Итоговая сумма и будет являться искомым числом.<br>
          <br>
          Для восьмиричной и шестнадцатиричной этот способ работает также, но стоит обратить внимание на k, так как она может быть числом, большим единицей. Пример для числа <i>1010<sep>2</sep></i>:<br>
          3 2 1 0<br>
          <b>1 0 1 0</b> = 1 * <i>2<seb>3</seb></i> + 0 * <i>2<seb>2</seb></i> + 1 * <i>2<seb>1</seb></i> + 0 * <i>2<seb>0</seb></i> = 8 + 2 = 10<br>
</div>
</div>
     <div class="card-header" id="heading4">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapse4" aria-expanded="true" aria-controls="collapse4">
            Перевод из десятичной системы счисления в двоичную, восьмиричную, шестнадцатиричную
          </button>
        </h5>
      </div>
      <div id="collapse4" class="collapse show" aria-labelledby="heading4" data-parent="#accordion">
        <div class="card-body">
            Для перевода числа в двоичную систему счисления надо делить его на 2 пока не останется 1 или 0, записывая остатки. После чего остатки, взятые подряд в обратном порядке и будут являться искомым числом.<br>
          Например, число 10 будет давать остатки 0, 1, 0, 1 => получается число 1010<br><br>
          Для восбмиричной, шестнадцатиричной и любой другой системы счисления механизм тот же, надо только менять число, на которое делим и помнить, что остатки начиная с 10 обозначаются буквами:<br>
          10 - A<br>
          11 - B<br>
          12 - C<br>
          13 - D<br>
          14 - E<br>
          15 - F
        </div>
      </div>

      <div class="card-header" id="heading5">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapse5" aria-expanded="true" aria-controls="collapse5">
            Логические операции
          </button>
        </h5>
      </div>
      <div id="collapse5" class="collapse show" aria-labelledby="heading5" data-parent="#accordion">
        <div class="card-body">
          <b>Основные</b><br>
          Конъюнкция (Логическое умножение, and) - обозначается знаком "&#8743;". Возвращает 1, только если оба операнда равны 1, иначе 0.<br>
          Дизъюнкция (Логическое сложение, or) - обозначается знаком "&#8744;". Возращает 0, только если оба операнда равны 0, иначе 1.<br>
          Отрицание (Инверсия, not) - обозначается знаком "&#172;". Возвращает 0 если операнд равен 1, и наоборот.
          <br><br>
          <b>Второстепенные</b><br>
          Сильная дизъюнкция (Исключающая дизъюнкция, hor) - обозначается знаком "&#8853;". Возвращает 1 только если операнды не равны (один равен 0, второй 1).<br>
          Эквивалентность (Равенство, eq) - обозначается знаком "&#8801;" или "&#8596;". Возвращает 1 только если операнды равны (оба 1 или оба 0).<br>
          Выражение "НЕ-ИЛИ" (Стрелка Пирса, nor) - обозначается знаком "&#8595;". Возвращает 1 только если оба операнда равны 0.<br>
          Импликация (Причина и следствие) - обозначается знаком "&#8594;" или 	"&#8835;". Возвращает 0 только если первый операнд равен 1, а второй 0.<br>
          Штрих Шеффера - обозначается знаком "|". Возвращает 0 только когда оба операнды равны 0. 
        </div>
      </div>
  </div>
{% endblock %}
