{% extends "base.html" %}

{% block content %}
  <div id="accordion">
    <div class="card">
      <div class="card-header" id="heading1">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
            Биты, байты...
          </button>
        </h5>
      </div>
      <div id="collapse1" class="collapse show" aria-labelledby="heading1" data-parent="#accordion">
        <div class="card-body">
          8 бит = 1 байт<br>
          1024 байт = 1 килобайт<br>
          1024 килобайт = 1 мегабайт<br>
          1024 мегабайт = 1 гигабайт<br>
          1024 гигаобайт = 1 терабайт<br>
        </div>
      </div>

      <div class="card-header" id="heading2">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapse2" aria-expanded="true" aria-controls="collapse2">
            История информатики
          </button>
        </h5>
      </div>
      <div id="collapse2" class="collapse show" aria-labelledby="heading2" data-parent="#accordion">
        <div class="card-body">
            Информáтика (фр. Informatique; англ. Computer science) — наука о методах и процессах сбора, хранения, обработки, передачи, анализа и оценки информации с применением компьютерных технологий, обеспечивающих возможность её использования для принятия решений[1] .

Информатика включает дисциплины, относящиеся к обработке информации в вычислительных машинах и вычислительных сетях: как абстрактные, вроде анализа алгоритмов, так и конкретные, например, разработка языков программирования и протоколов передачи данных.

Темами исследований в информатике являются вопросы: что можно, а что нельзя реализовать в программах и базах данных (теория вычислимости и искусственный интеллект), каким образом можно решать специфические вычислительные и информационные задачи с максимальной эффективностью (теория сложности вычислений), в каком виде следует хранить и восстанавливать информацию специфического вида (структуры и базы данных), как программы и люди должны взаимодействовать друг с другом (пользовательский интерфейс и языки программирования и представление знаний) и т. п.
        </div>
      </div>

      <div class="card-header" id="heading3">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapse3" aria-expanded="true" aria-controls="collapse3">
            Из двоичной системы счисления
          </button>
        </h5>
      </div>
      <div id="collapse3" class="collapse show" aria-labelledby="heading3" data-parent="#accordion">
        <div class="card-body">
            1
</div>
</div>
     <div class="card-header" id="heading4">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapse4" aria-expanded="true" aria-controls="collapse4">
            Из десятичной системы счисления
          </button>
        </h5>
      </div>
      <div id="collapse4" class="collapse show" aria-labelledby="heading4" data-parent="#accordion">
        <div class="card-body">
            1
        </div>
      </div>

      <div class="card-header" id="heading5">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapse5" aria-expanded="true" aria-controls="collapse5">
Логические операции
          </button>
        </h5>
      </div>
      <div id="collapse5" class="collapse show" aria-labelledby="heading5" data-parent="#accordion">
        <div class="card-body">
1
        </div>
      </div>
  </div>
{% endblock %}
